<% title(t('.page_title')) %>

<%= render partial: 'back_link' %>

<h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>

<%= t('.body_html') %>

<%= form_for @submission, url: wizard_businesses_submit_path, method: :post do |f| %>
    <%= f.govuk_error_summary %>
<% end %>

<table class="govuk-table">
<caption class="govuk-table__caption govuk-table__caption--m"><%= t(".business_details") %></caption>
<thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" width="40%"><%= t('.name') %></th>
        <th scope="col" class="govuk-table__header" width="40%"><%= t('.address') %></th>
        <th scope="col" class="govuk-table__header" width="20%">&nbsp;</th>
    </tr>
</thead>
<tbody class="govuk-table__body">
    <% @businesses.each do |business| %>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= business.name %></th>
        <td class="govuk-table__cell"><%= [business.street,business.townorcity,business.county,business.postcode].flatten.compact.join(" ") %></td>
        <td class="govuk-table__cell"><a href="./business/edit/?business_id=<%= business.id %>"><%= t('.change') %></a>&nbsp;&nbsp;<a href="./business/remove/?business_id=<%= business.id %>"><%= t('.remove') %></a></td>
    </tr>
    <% end %>
</tbody>
</table>

<%= form_for @submission, url: wizard_business_add_path, method: :get do |f| %>
    <%= f.govuk_submit t(".add_business") %>
<% end %>

<%= form_for @submission, url: wizard_businesses_submit_path, method: :post do |f| %>
    <%= f.hidden_field :status, :value => :businesses %>
    <%= f.govuk_submit %>
<% end %>